/* Type selector: */

li:last-child {
	color: darkred;
	font-family: sans-serif
}

ol li {
	font-size: 24px
}

ul li:hover {
	font-size: 24px;
	color: rgb(49, 54, 44)
}

a {
	text-decoration: none;
}
